@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Assets/background-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family:'crowbar';
    src: url('Assets/dk_crowbar/DK\ Crowbar.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-image: linear-gradient(to right,#0097b248, #7ed95749);
    width: 100vw;
    height: 15vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: auto; /* Move os itens para a esquerda */
}

nav li {
    margin-left: 1vw;
    margin-right: 3vw;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff; 
    text-decoration: none;  
}

#logo {
    width: 22vw;
    height: 22vh;
    margin-left: 3vw;
}

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text {
    font-size: 22px;
    font-family: 'crowbar','Roboto', sans-serif;
    font-weight: 400;
    color: #c4db43de; text-shadow: #000000 0.1em 0.1em 0.1em;
    text-align: center;
    padding: 9vh;

    position: absolute;
    top: 26vh;
    width: 38vw;
    height: 3vh;
    right: 31vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    margin-top: 12vh;
    align-items: center;
    position: relative;
}

.sky-img{
    width: 41vw;   
    position: absolute;
    right: 29.5vw;
    border: none;
    opacity: 0.8;   
}

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15vw;
}

.ball-RM-gif{
    font-family: 'Roboto';
    color: #949494;
    width: 15vw;
    margin-top: 15vh;
}

button.start{
    width: 4vw;
    height: 4vh;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;

    background-image: linear-gradient(to right,#0097B2, #7ED957);
    border-color: #017384;
    border-style: dashed;
    border-radius: 8px;
    border-width: 3px;
    box-shadow: 0 4px 4px 0 #a8a8a86e; 
    cursor: pointer;
}

footer,
.li-footer {
    display: none;
}

@media (max-width: 768px) {

    body {
        width: 100vw;
        height: 100vh;
    }

    .start {
        display: none;
    }

    main {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    }

    header {
        width: 100vw;
        height: 9vh;
        padding: 5vw;
    }

    #logo {
        width: 48vw;
        height: 12vh;
        margin-left: 1vw;
    }

    nav {
        display: none;
    }

    .text-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        /* align-items: flex-start; */
        text-align: center;
        /* margin-top: 0.1vh; */
        border: 5px solid #fff;
    }

    .text {
        width: 70vw;
        font-size: 15px;
        font-family: 'crowbar','Roboto', sans-serif;
        font-weight: 400;
        color: #c4db43de; text-shadow: #000000 0.1em 0.1em 0.1em;
        border: 5px solid red;
        
        position: absolute;
        /* top: 14vh; */
        right: auto;
        padding: 0px;
       
        /* display: flex;
        justify-content: flex-start;
        align-items:self-end;    */
    }
    
    .sky-img{
        width: 100vw;
        height: 100%;
        object-fit: contain;
        border: none;
        opacity: 0.8; 
        position: relative;
        right: auto;
        border: 5px solid pink;
        /* transform: rotate(90deg); */
        
        /* display: flex;
        align-items: center; 
        justify-content: center; */  
    }

    .menu-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
    }

    .ball-RM-gif{
        font-family: 'Roboto';
        color: #949494;
        width: 45vw;
        margin-top: 9vh;
    }

    footer {
        display: flex;
        width: 100vw;
        height: 10vh;
        position: absolute;
        background-color: #017384c5;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .li-footer {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #949494;
    }

    .ul-footer {
        width: 100vw;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        color: #949494;
    }

    nav a {
        display: flex;
        color: #949494;
        padding-top: 0.5vh;
        
    }

    
}
