@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color:#252223;
}

header {
    font-family: 'Exo 2', sans-serif;
    background-image: linear-gradient(to right,#0097b248, #7ed95749);
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
}

h2{
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    text-align: center;
}

h3{
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    text-align: justify;
    padding: 70px;
}

main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.initial-container{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
}

.initical-img{
    border: none;
    margin-left: 80px;
    margin-top: 190px;
    width: 800px;   
}

button.start{
    width: 140px;
    height: 35px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #000000;

    background-color: #aedc29;
    border-color: #017384;
    border-style: dashed;
    border-radius: 33px;
    border-width: 3px;

    cursor: pointer;
}


nav ul {
    display: flex;
    list-style: none;
    margin-right: auto; /* Move os itens para a esquerda */
}

nav li {
    margin-left: 10px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/* img{
    width: 80%;
    border: 0;
    border-radius: 16px;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);    
} */

#logo {
    width: 300px;
    height: 150px;
    margin-left: 50px;
}

#advanced-search{
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

.search-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 100px; /* Move a caixa de busca para a direita */
}

.search-box-field::placeholder{
    color:#fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

.search-label {
    color: #fff;
    display: flex;
    margin-bottom: 50px;
}


