@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Assets/background-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    width: 100%;
    height: 100vh;
}

header {
    font-family: 'Exo 2', sans-serif;
    background-image: linear-gradient(to right,#0097b27a, #7ed95767);
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 { 
    font-size: 10px;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    height: 20px;

    background-color: #034e59;
    border-color: #1f9dcb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

h3 { 
    font-size: 10px;
    font-family: 'Exo 2', sans-serif;
    color: #aedc29;
    text-align: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: auto; /* Move os itens para a esquerda */
}

nav li {
    margin-left: 10px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

img {
    width: 90%;
    border: 0;
    border-radius: 16px;
    
    /* box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);  */  
}

#logo {
    width: 300px;
    height: 150px;
    margin-left: 50px;
}

#advanced-search {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

.search-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 120px; /* Move a caixa de busca para a direita */
}

.search-box-field::placeholder{
    color:#fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

.search-label {
    color: #fff;
    display: flex;
    margin-bottom: 50px;
}

.search-box-field {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-left: 50px;
}

.lupa-search {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.lateral-container {
    width: 100%;
    margin-top: 180px;
    margin-left: 100px;
}

.card-container {
    width: 100%;
    height: 100vh;
}

.container-card {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 150px;
    padding-right: 100px;
    gap: 5px;
}

#status-filter, #species-filter, #gender-filter, #origin-filter, #location-filter {
    width: 200px;
    height: 35px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;

    background-color: #aedc29;
    border-color: #017384;
    border-style: dashed;
    border-radius: 33px;
    border-width: 3px;

    display: flex;
    margin: 15px;
    margin-left: 40px;

    cursor: pointer;
}

#order-select, #advanced-search {
    width: 250px;
    height: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;

    background-color: #053442;
    border-color: #aedc29;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;

    cursor: pointer;
}

